а "
"списка"
msgid ""
"Definition lists are similar to other HTML lists. &lt;dl&gt; begins "
"the definition list, &lt;dt&gt; begins the definition term and "
"&lt;dd&gt; begins the definition description."
msgstr ""
"Списки определений похожи на другие "
"списки HTML. &lt;dl&gt; начинает список "
"определений, &lt;dt&gt; начинает "
"определяемый термин и &lt;dd&gt; начинает "
"описание определения."
msgid "First term"
msgstr "Первый термин"
msgid "First definition"
msgstr "Первое определение"
msgid "Second term"
msgstr "Второй термин"
msgid "Second definition"
msgstr "Второе определение"
msgid "Subtitle three"
msgstr "Заголовок третьего уровня"
msgid "Subtitle four"
msgstr "Заголовок четвёртого уровня"
msgid "Subtitle five"
msgstr "Заголовок пятого уровня"
msgid "Subtitle six"
msgstr "Заголовок шестого уровня"
msgid "Tag Description"
msgstr "Описание тега"
msgid "You Type"
msgstr "Вы пишете"
msgid "You Get"
msgstr "Вы получаете"
msgid "No help provided for tag %tag."
msgstr "Справки для тега %tag нет."
msgid "Ampersand"
msgstr "Амперсанд"
msgid "Quotation mark"
msgstr "Кавычка"
msgid "Character Description"
msgstr "Описание знака"
msgid "Lines and paragraphs break automatically."
msgstr ""
"Строки и параграфы переносятся "
"автоматически."
msgid ""
"Lines and paragraphs are automatically recognized. The &lt;br /&gt; "
"line break, &lt;p&gt; paragraph and &lt;/p&gt; close paragraph tags "
"are inserted automatically. If paragraphs are not recognized simply "
"add a couple blank lines."
msgstr ""
"Строки и параграфы распознаются "
"автоматически. Теги переноса строки "
"&lt;br /&gt;, параграфа &lt;p&gt; и закрытия "
"параграфа &lt;/p&gt; вставляются "
"автоматически. Если параграфы не "
"распознаны, просто добавьте пару "
"пустых строк."
msgid "Web page addresses and e-mail addresses turn into links automatically."
msgstr ""
"Адреса страниц и электронной почты "
"автоматически преобразуются в ссылки."
msgid ""
"Configure how content input by users is filtered, including allowed "
"HTML tags. Also allows enabling of module-provided filters."
msgstr ""
"Настройка того, какое вводимое "
"пользователем содержимое "
"фильтруется, включая разрешенные "
"HTML-теги. Также позволяет включить "
"фильтры, поддерживаемые модулями."
msgid "Compose tips"
msgstr "Подсказки по редактированию"
msgid "Short but meaningful name for this collection of threaded discussions."
msgstr ""
"Короткое, но понятное имя для этого "
"собрания тематических дискуссий."
msgid "Description and guidelines for discussions within this forum."
msgstr ""
"Описание и руководства для дискуссий "
"внутри этого форума."
msgid ""
"Forums are displayed in ascending order by weight (forums with equal "
"weights are displayed alphabetically)."
msgstr ""
"Форумы отображены в порядке "
"возрастания по весу (форумы с "
"одинковым весом отображены в "
"алфавитном порядке)."
msgid "Short but meaningful name for this collection of related forums."
msgstr ""
"Краткое, но емкое имя для этой "
"коллекции связанных форумов."
msgid "Description and guidelines for forums within this container."
msgstr ""
"Описание и руководства для форумов "
"внутри этого контейнера."
msgid ""
"Containers are displayed in ascending order by weight (containers with "
"equal weights are displayed alphabetically)."
msgstr ""
"Контейнеры отображены в порядке "
"возрастания по весу (контейнеры с "
"равным весом отображены в алфавитном "
"порядке)."
msgid ""
"Deleting a forum or container will also delete its sub-forums, if any. "
"To delete posts in this forum, visit <a href=\"@content\">content "
"administration</a> first. This action cannot be undone."
msgstr ""
"Удаление форума или контейнера также "
"повлечет за собой удаление вложенных "
"форумов. Для удаления сообщений этого "
"форума, сначала посетите <a "
"href=\"@content\">администрирование "
"содержимого</a>. Это действие не может "
"быть отменено."
msgid "Default number of forum topics displayed per page."
msgstr ""
"Число тем форума, отображаемых на "
"одной странице по умолчанию."
msgid "Default display order for topics."
msgstr "Порядок показа тем по умолчанию."
msgid ""
"Containers are usually placed at the top (root) level, but may also be "
"placed inside another container or forum."
msgstr ""
"Контейнеры обычно расположены на "
"верхнем (корневом) уровне, но также "
"могут быть размещены внутри другого "
"контейнера или формуа."
msgid ""
"Forums may be placed at the top (root) level, or inside another "
"container or forum."
msgstr ""
"Форумы могут быть расположены на "
"верхнем (корневом) уровне, или внутри "
"другого контейнера или формуа."
msgid ""
"For more information, see the online handbook entry for <a "
"href=\"@forum\">Forum module</a>."
msgstr ""
"Для дополнительной информации "
"смотрите статью <a href=\"@forum\">Модуль "
"форума</a> в онлайн-руководстве."
msgid "Forum topic"
msgstr "Тема форума"
msgid "You are not allowed to post new content in the forum."
msgstr ""
"Вы не можете добавлять новое "
"содержимое в форум."
msgid "Manages the display of online help."
msgstr "Управляет показом онлайновой справки."
msgid ""
"This page provides an overview of available translatable strings. "
"Drupal displays translatable strings in text groups; modules may "
"define additional text groups containing other translatable strings. "
"Because text groups provide a method of grouping related strings, they "
"are often used to focus translation efforts on specific areas of the "
"Drupal interface."
msgstr ""
"Эта страница предоставляет все "
"доступные для перевода строки. Drupal "
"отображает переводимые строки в "
"текстовых группах; модули могут "
"добавлять дополнительные текстовые "
"группы, содержащие другие переводимые "
"строки. Из-за того, что текстовые "
"группы предоставляют метод "
"группировки похожих строк, они часто "
"используются для фокусировки усилий "
"по переводу отдельных зон интерфейса "
"Drupal."
msgid ""
"Note that the <em>.po</em> files within a translation package are "
"imported automatically (if available) when new modules or themes are "
"enabled, or as new languages are added. Since this page only allows "
"the import of one <em>.po</em> file at a time, it may be simpler to "
"download and extract a translation package into your Drupal "
"installation directory and <a href=\"@language-add\">add the "
"language</a> (which automatically imports all <em>.po</em> files "
"within the package). Translation packages are available for download "
"on the <a href=\"@translations\">Drupal translation page</a>."
msgstr ""
"Заметьте, что файлы <em>.po</em> из пакета "
"перевода импортируются автоматически "
"(по возможности), когда подключаются "
"новые модули или темы оформления. Так "
"как эта страница позволяет "
"одновременно закачивать только один "
"<em>.po</em> файл, возможно, будет проще "
"скачать и распаковать пакет перевода "
"в ваш корневой каталог Drupal и <a "
"href=\"@language-add\">добавить язык</a> (это "
"автоматически импортирует все <em>.po</em> "
"файлы пакета). Пакеты перевода "
"доступны для скачивания на <a "
"href=\"@translations\">странице переводов Drupal</a>."
msgid ""
"This page exports the translated strings used by your site. An export "
"file may be in Gettext Portable Object (<em>.po</em>) form, which "
"includes both the original string and the translation (used to share "
"translations with others), or in Gettext Portable Object Template "
"(<em>.pot</em>) form, which includes the original strings only (used "
"to create new translations with a Gettext translation editor)."
msgstr ""
"Эта страница экспортирует "
"переведённые строки вашего сайта. "
"Экспортируемый файл может быть "
"записан в формате Gettext Portable Object "
"(<em>.po</em>), включающим как оригинальную "
"строку, так и её перевод (для обмена "
"переводами с другими); или в формате "
"шаблона для Gettext Portable Object (<em>.pot</em>), "
"включающим только оригинальные "
"строки (для создания новых переводов с "
"помощью Gettext-редактора)."
msgid "Built-in interface"
msgstr "Встроенный интерфейс"
msgid ""
"This account's default language for e-mails, and preferred language "
"for site presentation."
msgstr ""
"Язык по умолчанию этой учетной записи "
"для e-mail и внешнего вида сайта."
msgid "This account's default language for e-mails."
msgstr "Язык по умолчанию."
msgid ""
"A path alias set for a specific language will always be used when "
"displaying this page in that language, and takes precedence over path "
"aliases set for <em>All languages</em>."
msgstr ""
"Синоним, установленный для "
"определенного языка, всегда будет "
"использоваться при отображении этой "
"страницы на этом языке, а также будет "
"иметь преимущество над другими "
"синонимами с опцией <em>на всех "
"языках</em>."
msgid ""
"Enable multilingual support for this content type. If enabled, a "
"language selection field will be added to the editing form, allowing "
"you to select from one of the <a href=\"!languages\">enabled "
"languages</a>. If disabled, new posts are saved with the default "
"language. Existing content will not be affected by changing this "
"option."
msgstr ""
"Включает поддержку нескольких языков "
"для этого типа материала. Если "
"включено, к форме редактирования "
"будет добавлено поле выбора языка, "
"позволяющее выбрать один из <a "
"href=\"!languages\">доступных языков</a>. Если "
"отключено, новые сообщения "
"сохраняются с языком по умолчанию. На "
"существующее содержимое эта опция не "
"оказывает влияния."
msgid "Configure languages for content and the user interface."
msgstr ""
"Настройка языков, используемых для "
"материалов и интерфейса "
"пользователей."
msgid "Translate the built in interface and optionally other text."
msgstr ""
"Настройка перевода пользовательского "
"интерфейса и других текстов."
msgid ""
"Adds language handling functionality and enables the translation of "
"the user interface to languages other than English."
msgstr ""
"Добавляет поддержу языков и позволяет "
"переводить пользовательский "
"интерфейс на языки, отличные от "
"английского."
msgid "Submission form settings"
msgstr "Настройки формы"
msgid "This content type does not have a title field."
msgstr ""
"Этот тип материала не содержит поля "
"заголовка."
msgid ""
"The machine-readable name must contain only lowercase letters, "
"numbers, and underscores."
msgstr ""
"Машинное имя может содержать только "
"строчные буквы, цифры и знаки "
"подчёркивания."
msgid "The human-readable name %name is already taken."
msgstr "Удобочитаемое название %name уже занято."
msgid "Are you sure you want to delete the content type %type?"
msgstr ""
"Вы действительно хотите удалить тип "
"материала %type?"
msgid "Added content type %name."
msgstr "Добавлен тип материалов %name."
msgid "Changed the content type of 1 post from %old-type to %type."
msgid_plural "Changed the content type of @count posts from %old-type to %type."
msgstr[0] ""
"Тип материала @count сообщения был "
"изменён с %old-type на %type."
msgstr[1] ""
"Ти